// 基础样式
html {
    //height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

body a {
    text-decoration: none;
}

body a:hover {
    cursor: pointer;
}

body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#app {
    font-family: PingFang SC, Microsoft Yahei, Helvetica, Aria, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    position: relative;
    height: 100%;
    color: $font-second !important;
}

@media screen and (min-width: 1368px) {
    body {
        font-size: 14px;
    }
    .ivu-table {
        font-size: 14px !important;
    }
}
