//顶部导航栏样式
$head-menu-color: if($head-theme=='light', #fff, $base-color);
$background-color: if($head-theme=='light', $base-color, $base-color-blue);
$color: if($head-theme=='light', #fff, #fff);
$focus-color: if($head-theme=='light', #909399, #fff);
$background-color-hover: if($head-theme=='light', #fff, $base-color-blue);
$color-hover: if($head-theme=='light', $base-color, #fff);
$font-display: if($head-theme=='light', $font-second, #fff);
$menu-hover: if($head-theme=='light', $base-color, #fff);
$header-font: if($head-theme=='light', $font-second, #D7EBFF);

.el-menu {
    background-color: $head-menu-color;
}

.el-menu-item {
    font-size: 14px;
    color: $font-display;
}

.el-menu-demo li.el-submenu div.el-submenu__title {
    font-size: 14px !important;
}

.el-submenu__title i {
    color: inherit !important;
}

ul.el-menu--popup-bottom-start div li.el-menu-item {
    font-size: 14px;
}

.el-menu--popup .el-menu-item:hover {
    background-color: #ecf5ff !important;
    color: $base-color !important;
}

li.el-submenu div.el-submenu__title {
    font-size: 14px;
}

.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
    color: $font-display;
    background-color: $head-menu-color;
}

.el-menu--horizontal > .el-menu-item, .el-submenu__title i, .el-menu--horizontal > .el-submenu .el-submenu__title {
    color: $header-font;
}

.el-menu--horizontal > .el-menu-item.is-active, .el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    border-bottom: 2px solid $menu-hover;
    color: $color-hover;
}

.el-menu--horizontal .el-menu .el-menu-item.is-active, .el-menu--horizontal .el-menu .el-submenu__title.is-active {
    background-color: #EFF2F5 !important;
    color: $base-color !important;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
    color: $font-display;
    background-color: #EFF2F5;
}

.el-dropdown-menu__item--divided:before, .el-menu, .el-menu--horizontal > .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal > .el-menu-item:not(.is-disabled):hover, .el-menu--horizontal > .el-submenu .el-submenu__title:hover {
    color: $menu-hover;
    background-color: $head-menu-color;
}

.el-menu-vertical-demo {
    color: $font-second;
    background-color: #fff;

    .el-menu-item {
        color: $font-second;
    }

    .el-menu-item:hover {
        color: $base-color;
    }

    .el-menu--inline {
        background-color: #fff;
    }
}

.el-menu--vertical {
    .el-menu {
        background-color: #fff;
    }

    .el-menu-item {
        color: $font-second;
    }
}

.el-menu--horizontal .el-menu .el-submenu__title:hover {
    color: $color-hover;
}

.el-menu--horizontal .el-menu .el-menu-item.is-active, .el-menu--horizontal .el-menu .el-submenu.is-active > .el-submenu__title {
    color: $color-hover;
}

.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal > .el-menu-item:not(.is-disabled):hover, .el-menu--horizontal > .el-submenu .el-submenu__title:hover {
    border-bottom: 2px solid $menu-hover !important;
}

.el-menu.el-menu--horizontal {
    @media (max-width: 1920px) {
        height: 60px !important;
    }
    @media (min-width: 1920px) {
        height: 64px !important;
    }
}

.el-menu--horizontal > .el-submenu:focus .el-submenu__title {
    color: unset;
}

.el-menu--horizontal > .el-menu {
    background-color: #fff;
    color: $font-second;
}

.el-menu--horizontal > .el-menu--popup {
    .el-menu-item {
        background-color: #fff;
        color: $font-second;
    }
}
